body
{
    font-family:  'Pacifico', cursive;
    /*font-family: 'Courgette', cursive;
    font-family: 'Cookie', cursive;
    font-family: 'Great Vibes', cursive;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Yellowtail', cursive;*/
    color: black;
}
#header{
    background-color: #eee;
    margin-top: 0px;
    padding: 2%;
}
#content{
    height:70%;
}
.actions{
    font-family: sans-serif;
}
.footer
{
    padding:2%;
    background-color: #eee;
}
li{
    color: #337ab7;
    padding: 3%;
}
::-webkit-scrollbar {
    width: 0px;  
    background: transparent; 
}
table{
    max-height: 200px;
    width: 100%;
    overflow-y: auto;
}
.students{
    padding-top:2%;
    height:100%;
    overflow-y: auto;
}
.category{
    padding: 3%;
    background-color:#776262;
    height: 100%;
}
.swal-overlay {
    background-color: rgba(110, 117, 113, 0.5);
  }
